popover {
    .list {
        margin:0px;
    }
    .movimiento{
        font-size: 1.8em;
        color:rgb(34,56,73);
        font-weight: 200;
    }
    .button-clear {
        border-color: transparent;
        color: rgb(34,56,73);
        background-color: transparent;
    }
    .text{
        font-size: 1.1em;
        padding-left: 5%;
        font-weight: bold;
    }
}
