<ion-content padding class="background">
    <ion-grid no-padding>
        <ion-row padding-top class="header">
            <ion-col align-self-center class="colText">
                <h1 class="text">{{amount}} €</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 style="padding:8px">
                <button ion-button icon-left block (click)="openDeposit()">
                    <ion-icon name="arrow-round-up" class="arrows"></ion-icon>
                    <p class="text">Ingresar</p>
                </button>
            </ion-col>
            <ion-col col-6 style="padding:8px">
                <button ion-button icon-left block (click)="openWithdraw()">
                    <ion-icon name="arrow-round-down" class="arrows"></ion-icon>
                    <p class="text">Retirar</p>
                </button>
            </ion-col>
        </ion-row>
        <ion-row class="segmentButton">
            <ion-segment [(ngModel)]="filter" color="textColor">
                <ion-segment-button value="all">
                    Todos
                </ion-segment-button>
                <ion-segment-button value="positive">
                    Positivos
                </ion-segment-button>
                <ion-segment-button value="negative">
                    Negativos
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <ion-row *ngIf="requests.length != 0">
            <ion-col col-12>
                <ion-list>
                    <ion-item-divider>
                        Peticiones de dinero
                    </ion-item-divider>
                    <ion-item *ngFor="let request of requests">
                        <ion-row no-padding>
                            <ion-col col-5>
                                <p class="requestName">{{request.nameOrigin}}</p>
                            </ion-col>
                            <ion-col col-3>
                                <p class="requestAmount">{{request.amount}} €</p>
                            </ion-col>
                            <ion-col offset-1 col-1>
                                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" color="secondary" style="font-size: 25px;" (click)="acceptRequest(request)"></ion-icon>
                            </ion-col>
                            <ion-col offset-1 col-1>
                                <ion-icon ios="ios-close-circle" md="md-close-circle" color="danger" style="font-size: 25px;" (click)="rejectRequest(request)"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-list *ngIf="filter==='all'">
                    <ion-item-divider>
                        Movimientos
                    </ion-item-divider>
                    <ion-scroll style="width:100%;height:78.5px" scrollY="true">
                        <ion-item *ngFor="let move of moves" (click)="goDetails(move)">
                            <ion-avatar item-start style="text-align:center">
                                <ion-icon *ngIf="move.type == 'DEPOSIT' || move.type == 'WITHDRAW'" name="cash" class="movimiento"></ion-icon>
                                <ion-icon *ngIf="move.type == 'SENT' || move.type == 'REQUEST'" name="card" class="movimiento"></ion-icon>
                            </ion-avatar>
                            <h2 *ngIf="move.type=='DEPOSIT'">Ingresado</h2>
                            <h2 *ngIf="move.type=='WITHDRAW'">Retirado</h2>
                            <h2 *ngIf="move.type=='SENT' && move.user == myId">Enviado</h2>
                            <h2 *ngIf="move.type=='SENT' && move.user != myId">Recibido</h2>
                            <h2 *ngIf="move.type=='REQUEST' && move.user == myId">Recibido</h2>
                            <h2 *ngIf="move.type=='REQUEST' && move.user != myId">Enviado</h2>
                            <h3 *ngIf="move.type=='DEPOSIT'" class="textAmountGreen">+ {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='WITHDRAW'" class="textAmountRed">- {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='SENT' && move.user == myId" class="textAmountRed">- {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='SENT' && move.user != myId" class="textAmountGreen">+ {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='REQUEST' && move.user == myId" class="textAmountGreen">+ {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='REQUEST' && move.user != myId" class="textAmountRed">- {{move.amount}} €</h3>
                            <ion-avatar item-end>
                                <ion-icon name="arrow-forward" class="arrowDetails"></ion-icon>
                            </ion-avatar>
                        </ion-item>
                    </ion-scroll>
                </ion-list>

                <ion-list *ngIf="filter==='positive'">
                    <ion-item-divider>
                        Movimientos
                    </ion-item-divider>
                    <ion-scroll style="width:100%;height:78.5px" scrollY="true">
                        <ion-item *ngFor="let move of arrayPositive" (click)="goDetails(move)">
                            <ion-avatar item-start style="text-align:center">
                                <ion-icon *ngIf="move.type == 'DEPOSIT' || move.type == 'WITHDRAW'" name="cash" class="movimiento"></ion-icon>
                                <ion-icon *ngIf="move.type == 'SENT' || move.type == 'REQUEST'" name="card" class="movimiento"></ion-icon>
                            </ion-avatar>
                            <h2 *ngIf="move.type=='DEPOSIT'">Ingresado</h2>
                            <h2 *ngIf="move.type=='WITHDRAW'">Retirado</h2>
                            <h2 *ngIf="move.type=='SENT' && move.user == myId">Enviado</h2>
                            <h2 *ngIf="move.type=='SENT' && move.user != myId">Recibido</h2>
                            <h2 *ngIf="move.type=='REQUEST' && move.user == myId">Recibido</h2>
                            <h2 *ngIf="move.type=='REQUEST' && move.user != myId">Enviado</h2>
                            <h3 *ngIf="move.type=='DEPOSIT'" class="textAmountGreen">+ {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='WITHDRAW'" class="textAmountRed">- {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='SENT' && move.user == myId" class="textAmountRed">- {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='SENT' && move.user != myId" class="textAmountGreen">+ {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='REQUEST' && move.user == myId" class="textAmountGreen">+ {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='REQUEST' && move.user != myId" class="textAmountRed">- {{move.amount}} €</h3>
                            <ion-avatar item-end>
                                <ion-icon name="arrow-forward" class="arrowDetails"></ion-icon>
                            </ion-avatar>
                        </ion-item>
                    </ion-scroll>
                </ion-list>

                <ion-list *ngIf="filter==='negative'">
                    <ion-item-divider>
                        Movimientos
                    </ion-item-divider>
                    <ion-scroll style="width:100%;height:78.5px" scrollY="true">
                        <ion-item *ngFor="let move of arrayNegative" (click)="goDetails(move)">
                            <ion-avatar item-start style="text-align:center">
                                <ion-icon *ngIf="move.type == 'DEPOSIT' || move.type == 'WITHDRAW'" name="cash" class="movimiento"></ion-icon>
                                <ion-icon *ngIf="move.type == 'SENT' || move.type == 'REQUEST'" name="card" class="movimiento"></ion-icon>
                            </ion-avatar>
                            <h2 *ngIf="move.type=='DEPOSIT'">Ingresado</h2>
                            <h2 *ngIf="move.type=='WITHDRAW'">Retirado</h2>
                            <h2 *ngIf="move.type=='SENT' && move.user == myId">Enviado</h2>
                            <h2 *ngIf="move.type=='SENT' && move.user != myId">Recibido</h2>
                            <h2 *ngIf="move.type=='REQUEST' && move.user == myId">Recibido</h2>
                            <h2 *ngIf="move.type=='REQUEST' && move.user != myId">Enviado</h2>
                            <h3 *ngIf="move.type=='DEPOSIT'" class="textAmountGreen">+ {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='WITHDRAW'" class="textAmountRed">- {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='SENT' && move.user == myId" class="textAmountRed">- {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='SENT' && move.user != myId" class="textAmountGreen">+ {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='REQUEST' && move.user == myId" class="textAmountGreen">+ {{move.amount}} €</h3>
                            <h3 *ngIf="move.type=='REQUEST' && move.user != myId" class="textAmountRed">- {{move.amount}} €</h3>
                            <ion-avatar item-end>
                                <ion-icon name="arrow-forward" class="arrowDetails"></ion-icon>
                            </ion-avatar>
                        </ion-item>
                    </ion-scroll>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>