page-setting {
    .toolbar-background {
        background-color: rgb(34,56,73) !important;
    }
    .toolbar-title {
        color:rgb(42, 236, 193);
    }
  
    .titlePersonal{
        margin: 0 0 4px;
        font-size: 1.6rem;
        color: #505050;
    }

    ion-buttons button[icon-only].my-style-for-modal {
        margin: 0 6px;
        min-width: 36px;
     }

    .item {
        padding: 0;
        border-radius: 0;
        position: relative;
        font-size: 1.7rem;
        color: #000;
        background-color: white;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }

    .list > .item-block {
        border-bottom: 0.55px solid rgb(42, 236, 193);
    }
    .list > .item-block:first-child{
        border-top: 0.0px solid rgb(42, 236, 193);
    }

    .text-input {
        margin: 11px 8px 11px 0;
        padding: 0;
        color: #3c3c3c;
        width: calc(100% - 8px);
    }

    .label{
        margin: 11px 8px 11px 0;
        color: #3c3c3c;
    }

    .textTouchId{
        padding-left: 1%;
        font-size: 14px;
    }

    .settingIcon{
        margin-left: 3%;
    }

    .iconArrow {
        display: inline-block;
        font-size: 3.2em;
        color: rgb(42, 236, 193) !important;
        padding-left: 5%;
    }
}

