page-add-card {
    .scroll-content {
        padding: 0px !important;
    }
    .toolbar-background {
        background-color: rgb(34,56,73) !important;
    }
    .toolbar-title {
        color:rgb(42, 236, 193)
    }
    .iconArrow {
        display: inline-block;
        font-size: 3.2em;
        color: rgb(42, 236, 193) !important;
        padding-left: 5%;
    }
    .scroll-content{
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: top;
        text-align: center;
    }
    .item-divider {
        padding-left: 16px;
        padding-left: 16px;
        color: #222;
        background-color: #f7f7f7;
        margin-top: 30px;
    }
    .textTitle{
        font-weight: bold;
        font-size: 1em;
        color: #504e4e;
        padding-top: 2px;
    }
    .bottomBoton{
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        background-color: #ca2e64 !important;
        color: rgba(255, 255, 255, 1);
        font-weight: bold;
    }
    ion-datetime {
        min-width: 79% !important;
        padding-right: 0px;
    }
    .text-input {
        margin: 11px 3px 11px 0;
        padding: 0;
        width: calc(100% - 8px);
    }
    .item.item-block .item-inner {
        padding-right: 3px;
        border-bottom: 0.55px solid #c8c7cc;
    }
    .buttonDown {
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        color: #fff;
        background-color: #233849;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
}
