<ion-header>
  <ion-navbar  end color="hcolor">
    <ion-title>{{friend.displayName}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="acctions()">
            <ion-icon name="swap"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div class="chatwindow">
    <ion-list no-lines>
      <ion-item *ngFor="let item of allMessages; let i = index" text-wrap>
        <div class="bubble me" *ngIf="item.sentby === friend.uid">
          <h3>{{item.message}}</h3>
        </div>
        <div class="bubble you" *ngIf="item.sentby != friend.uid">
          <h3>{{item.message}}</h3>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer ion-fixed>
  <ion-toolbar class="no-border" color="white">
    <ion-input [(ngModel)]="newMessage" placeholder="Write your message ..."></ion-input>
    <ion-buttons end>
      <button ion-button (click)="addMessage()">
        <ion-icon name="send" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>