page-request {
    .scroll-content {
        padding: 0px !important;
    }
    .toolbar-background {
        background-color: rgb(34,56,73) !important;
    }
    .toolbar-title {
        color:rgb(42, 236, 193)
    }
    .iconArrow {
        display: inline-block;
        font-size: 3.2em;
        color: rgb(42, 236, 193) !important;
        padding-left: 5%;
    }
}
